<template>
  <div
    :key="$route.fullPath"
    class="u-text-center u-w-3/4">
    <h1 class="u-text-3xl u-text-grey-darkest u-mb-6">
      When's the last tram from {{ from }} to {{ to }} on a {{ dayOfWeek }} night?
    </h1>

    <template v-if="timesHaveBeenRetrieved">
      <div class="u-text-xl">
        The last tram {{ timePrefix }} {{ timeDistance }} at
        <span
          :class="timeClassObject"
          class="u-inline-block u-py-1 u-px-2 u-rounded u-text-white"
        >{{ timeFormatted }}</span>
      </div>
      <div
        v-if="!timeIsPast"
        class="u-text-grey-dark u-mt-4">
        You'll be home in around {{ journeyDuration }}.
        <span v-if="timeVia">
          <a
            :href="`https://www.google.com/maps/dir/?api=1&origin=${this.$route.params.from}-tram&destination=${this.$route.params.to}-tram&travelmode=transit`"
            class="u-text-grey-dark"
            target="_blank"
            rel="noopener">{{ timeVia }}</a>.
        </span>
      </div>
    </template>

    <template v-if="!timesHaveBeenRetrieved && !error">
      <div
        class="u-mb-4 u-text-xl u-text-grey-darker">
        ███ █████ █████ █ █ ████ ████ ██
      </div>
    </template>

    <template v-if="error">
      <div class="u-mb-4">Something went wrong, sorry!</div>
      <div>
        <button
          class="u-inline-block u-font-bold u-bg-yellow u-text-black u-no-underline hover:u-bg-black hover:u-text-white u-px-4 u-py-2 lg:u-py-1 u-rounded u-select-none"
          @click="reload">Try again</button>
      </div>
    </template>
  </div>
</template>

<script>
const format = require('date-fns/format');
const parse = require('date-fns/parse');
const distanceInWordsToNow = require('date-fns/distance_in_words_to_now');
const differenceInMinutes = require('date-fns/difference_in_minutes')
const isPast = require('date-fns/is_past');
const subHours = require('date-fns/sub_hours');
const isEmpty = require('lodash/isEmpty');
const isUndefined = require('lodash/isUndefined');
const delay = require('lodash/delay');

import stops from '~/data/stops.json'

export default {
  head () {
    return {
      title: `Last tram times from ${this.from} to ${this.to}`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `The last Manchester Metrolink tram from ${this.from} to ${this.to}`
        }
      ]
    }
  },

  data: function () {
    return {
      stopData: stops.stops,
      timesHaveBeenRetrieved: false,
      toData: {},
      fromData: {},
      timesData: {},
      updateCount: 0,
      error: false,
    }
  },

  computed: {
    from: function from() {
      return this.stopData[this.$route.params.from].name;
    },

    to: function to() {
      return this.stopData[this.$route.params.to].name;
    },

    todaysTime: function() {
      if (!this.timesHaveBeenRetrieved) return;

      let dayAsDate = format(subHours(new Date(), 4), 'YYYY-MM-DD');
      return this.timesData[dayAsDate];
    },

    journeyDuration: function() {
      if (!this.timesHaveBeenRetrieved) return;

      return this.todaysTime.duration;
    },

    dayOfWeek: function() {
      return format(subHours(new Date(), 4), 'dddd');
    },

    timeDate: function() {
      if (!this.timesHaveBeenRetrieved) return;

      return parse(this.todaysTime.time);
    },

    timeFormatted: function() {
      if (!this.timesHaveBeenRetrieved) return;

      let time = format(this.timeDate, 'h:mma');
      return time;
    },

    timeDistance: function() {
      if (!this.timesHaveBeenRetrieved) return;

      let date = parse(this.timeDate);
      return distanceInWordsToNow(date, { addSuffix: true });
    },

    timeDistanceMinutes: function name(params) {
      if (!this.timesHaveBeenRetrieved) return;

      let date = parse(this.timeDate);
      return differenceInMinutes(date, new Date());
    },

    timeIsPast: function() {
      if (!this.timesHaveBeenRetrieved) return;

      return isPast(this.timeDate);
    },

    timePrefix: function() {
      if (!this.timesHaveBeenRetrieved) return;

      return this.timeIsPast ? 'was' : 'is';
    },

    timeClassObject: function() {
      return {
        'u-bg-green': !this.timeIsPast,
        'u-bg-red': this.timeIsPast
      };
    },

    timeVia: function () {
      if (!isUndefined(this.todaysTime.via)) {
        return this.todaysTime.via;
      }
    }
  },

  async mounted() {
    // Only try and grab the times from the client, not the server.
    // Otherwise nuxt generate would use up all our Netlify function calls, and
    // hammer TFGM.

    const timesUrl = `/.netlify/functions/get-times?from=${this.$route.params.from}&to=${
      this.$route.params.to
    }`;

    try {
      let { data } = await this.$axios.get(timesUrl);
      this.toData = data.to;
      this.fromData = data.from;
      this.timesData = data.times;

      this.timesHaveBeenRetrieved = true;
      this.title = `Last tram times from ${this.from} to ${this.to}`;
    } catch (error) {
      console.log(error.response);
      this.error = true;
    }
  },

  methods: {
    reload() {
      window.location.reload();
    }
  },

  validate ({ params }) {
    return !(params.from == params.to);
  },

  transition: 'tweakOpacity',
};
</script>
