<template>
  <div class="u-min-h-screen u-flex u-flex-col">
    <div class="u-bg-black u-text-grey u-py-4 u-pb-0 u-px-5 md:u-px-12 lg:u-px-16 xl:u-px-20">
      <span class="u-font-bold u-text-yellow u-text-xl">
        <nuxt-link
          to="/"
          class="u-text-yellow u-no-underline">Lasttramfrom.com</nuxt-link>
        <sup class="u-font-hairline u-font-mono u-text-grey-dark u-text-xs u-tracking-tight">beta</sup>
      </span>
    </div>

    <div class="u-bg-black u-text-grey u-py-4 u-sticky u-pin-t u-shadow-md u-px-5 md:u-px-12 lg:u-px-16 xl:u-px-20">
      <nuxt-link
        to="/"
        class="u-text-white u-no-underline u-mr-3">Home</nuxt-link>
    </div>

    <div class="u-flex-1 u-my-10 u-bg-white u-w-screen u-flex u-items-center u-justify-center u-text-center u-px-5 md:u-px-12 lg:u-px-16 xl:u-px-20">
      <nuxt/>
    </div>

    <div class="lg:u-px-16 md:u-px-12 u-bg-grey-lightest u-py-8 u-px-5 u-shadow-inner u-text-center xl:u-px-20">
      <ul class="u-text-sm u-m-auto u-list-reset">
        <li class="u-mb-2 u-inline-block u-pr-2">If you like this site, maybe consider <a
          class="u-font-bold"
          href="https://www.buymeacoffee.com/philw"
          target="_blank"
          rel="noopener">buying me a ☕️</a> or <a
            class="u-font-bold"
            href="https://www.paypal.me/philgw/4.50"
            target="_blank"
            rel="noopener">a 🍺</a>?</li>
        <li class="u-mb-2 u-inline-block"><a
          class="u-font-bold"
          href="https://uber.com/invite/uberinmcr"
          target="_blank"
          rel="noopener">£3 off your first Uber journey</a></li>
        <li class="u-mb-2 u-inline-block"><a
          class="u-font-bold"
          href="https://www.hellofresh.co.uk/pages/raf_lp11?c=HS-UJHAOMX70&utm_campaign=whatsapp_share_wp&utm_couponvalue=42&utm_invitername=Phil&utm_medium=referral&utm_source=raf-share"
          target="_blank"
          rel="noopener">Save £46 with Hellofresh's fresh ingredients and delicious recipes. Save £26 on your 1st Box, £10 on 2nd box, £10 on 3rd box. Use code HS-UJHAOMX70 or click here</a>.</li>
      </ul>
    </div>

    <div class="lg:u-px-16 md:u-px-12 u-bg-grey-lightest u-pb-10 u-px-5 u-text-center xl:u-px-20">
      <p class="u-max-w-md u-m-auto u-text-sm u-text-grey-darkest u-mb-8"> Built by <a
        href="https://wolstenhol.me"
        target="_blank"
        rel="noopener">Phil Wolstenholme</a>, data hackily scraped from <a
          href="http://www.tfgm.com"
          target="_blank"
          rel="noopener">TFGM</a> through a Netlify serverless function 🤓 (sorry TFGM!) This site is not endorsed by Metrolink or Transport for Greater Manchester. </p>
      <p class="u-max-w-md u-m-auto u-text-sm u-text-grey-darkest">I'm <a
        href="https://twitter.com/philw_"
        target="_blank"
        rel="noopener">@philw_</a> on Twitter</p>
    </div>
  </div>
</template>

<style lang="scss">
.tweakOpacity-enter-active, .tweakOpacity-leave-active {
      transition: opacity .1s ease-out;
}
.tweakOpacity-enter, .tweakOpacity-leave-active {
  opacity: 0;
}

a {
  @apply u-text-grey-darkest;

  &:hover,
  &:focus {
    @apply u-text-black;
  }
}

*:focus {
  @apply u-outline-none u-shadow-outline u-rounded;
}
</style>
