<template>
  <div>
    <h1 class="u-text-xl u-text-grey-darkest">Which station are you heading home from?</h1>
    <ul class="u-mt-5 u-list-reset u-leading-normal">
      <li
        v-for="stop in stopData"
        :key="stop.id"
        class="u-block u-py-1 lg:u-inline-block lg:u-mr-3">
        <nuxt-link
          :to="{ name: 'from', params: { from: stop.id }}"
          class="u-block u-font-bold u-bg-yellow u-text-black u-no-underline hover:u-bg-black hover:u-text-white u-px-4 u-py-2 lg:u-py-1 u-rounded u-select-none">{{ stop.name }}</nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
import stops from '~/data/stops.json'

export default {
  head () {
    return {
      title: `When's the last tram home? Manchester Metrolink last tram times`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `The last Manchester Metrolink tram times from each stop`
        }
      ]
    }
  },

  data: function () {
    return {
      stopData: stops.stops,
    }
  },

  transition: 'tweakOpacity',
}
</script>
