<template>
  <div>
    <h1 class="u-text-xl u-text-grey-darkest">Last tram times from {{ from }} to…</h1>
    <ul class="u-mt-5 u-list-reset u-leading-normal">
      <li
        v-for="stop in stopList"
        :key="stop.id"
        class="u-block u-py-1 lg:u-inline-block lg:u-mr-3">
        <nuxt-link
          :to="{ name: 'from-to', params: { from: $route.params.from, to: stop.id }}"
          class="u-block u-font-bold u-bg-yellow u-text-black u-no-underline hover:u-bg-black hover:u-text-white u-px-4 u-py-2 lg:u-py-1 u-rounded u-select-none">{{ stop.name }}</nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
const filter = require('lodash/filter');

import stops from '~/data/stops.json'

export default {
  head () {
    return {
      title: `Last tram times from ${this.from}`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `The last Manchester Metrolink tram times from ${this.from}`
        }
      ]
    }
  },

  data: function () {
    return {
      stopData: stops.stops,
    }
  },

  computed: {
    from: function from() {
      return this.stopData[this.$route.params.from].name;
    },

    stopList: function name(params) {
      return filter(this.stopData, (stop) => { return stop.id !== this.$route.params.from; });
    }
  },

  transition: 'tweakOpacity',
}
</script>
